<%- include ../layouts/header.ejs %>
<h1>Portal de administrador</h1>
<br>
<br>
<a href="/admin/person" class="btn btn-primary" type="button">Personas</a>
<br>
<br>
<a href="/admin/property" class="btn btn-primary" type="button">Propiedades</a>
<br>
<br>
<a href="/admin/user" class="btn btn-primary" type="button">Usuarios</a>
<br>
<br>
<a href="/admin/asoPP" class="btn btn-primary" type="button">Asociaciones personas/propiedades</a>
<br>
<br>
<a href="/admin/asoUP" class="btn btn-primary" type="button">Asociaciones usuarios/propiedades</a>
<br>
<br>
<a href="/admin/consultas" class="btn btn-primary" type="button">Consultas</a>
<br>
<br>
<div>
    <a href="/" class="btn btn-danger" type="button">Salir</a>
</div>
<%- include ../layouts/foot.ejs %>